<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>The website for capstone project</title>

	<link rel="shortcut icon" href="static/images/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="static/css/main2.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/index"><img src="static/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/mainproject">Capstone Project</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">About me</a></li>
							<li><a href="#">To be added</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Showtime!</h1>
				<p class="tagline"></p>
				<p><a class="btn btn-action btn-lg" role="button" href='/mainproject'>Capstone page</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Brief introduction of my capstone project</h2>
		<p class="text-muted">
			I always in favor of adopting pets instead of buying.
			However, it is difficult to find the pet I was looking for.
			When I was looking for adoptable pets on
			<a href="http://www.petfinder.com" target=_blank>petfinder.com</a>,
			the result were not really in favor of what I was looking for. At the end,
			I chose to go to shelters to adopt my dog.
			<br>However, some shelters depend on the online platform for people to
			look at their adoptable animals. I have been thinking if there is a
			better way to make recommendation based on image input instead of selecting
			breeds.
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Technology Adopted</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>API Data</h4></div>
					<div class="h-body text-center">
						<p>Data is downloaded through Petfinder API, reflecting actual animals
							from <a href="http://www.petfinder.com" target=_blank>petfinder.com</a>.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Dog classification</h4></div>
					<div class="h-body text-center">
						<p>Instead of using breeds provided by
							 <a href="http://www.petfinder.com" target=_blank>petfinder.com</a>,
							 I used a deep learning model that classify images to 120 breeds,
							 based on the breed type from Stanford Dog dataset(
							 <a href="http://vision.stanford.edu/aditya86/ImageNetDogs/main.html" target="_blank">link</a>)
							 <br> deep training model refence <a href="https://towardsdatascience.com/dog-breed-classification-hands-on-approach-b5e4f88c333e" target="_blank">link</a>
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Recommendation System</h4></div>
					<div class="h-body text-center">
						<p>With features extracted from api data, we generate animal feature matrix. Then based on
							user input of selected adoptable animals, we extract features and generate user feature matrix.
							With animal-feature matrix and user-fearture matrix, we can calculate recommendation matrix and
							provide top10 highest recommendation to each web user.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Flask web app</h4></div>
					<div class="h-body text-center">
						<p>With Flask web app, we can effectively interact with web users and display
						result in real time.</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space"></h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3></h3>
				<p></p>
			</div>
			<div class="col-sm-6">
				<h3></h3>
				<p>
				</p>
			</div>
		</div> <!-- /row -->

</div>	<!-- /container -->

	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact Me</h3>
						<div class="widget-body">
							<p><a href="mailto:yhcchen@outlook.com">yhcchen@outlook.com</a><br>
								<br>
								New York, NY
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://www.github.com/shuu8271" target=_blank><i class="fa fa-github fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Data Source</h3>
						<div class="widget-body">
							<p>All data is from <a href="https://www.petfinder.com" target=_blank>PetFinder</a> API</p>
							<p>More info on PetFinder API <a href="https://www.petfinder.com/developers/api-docs" target=_blank>click here</a></p>
							<br><br>
						</div>

						<p class="widget-title">Interested in this template?</p>
						<div class="widget-body">
							Download progressus bootstrap template
								<a href="https://www.gettemplate.com/demo/progressus/index.html" target=_blank>here</a>
						</div>

					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> |
								<a href="/mainproject">Capstone Project</a> |
								<a href="sidebar-right.html">About me</a> |
								<a href="contact.html">To be added</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2018, Cheryl Chen. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="static/js/headroom.min.js"></script>
	<script src="static/js/jQuery.headroom.min.js"></script>
	<script src="static/js/template.js"></script>
</body>
</html>
